{
    "plugins": ["prettier-plugin-blade"],
    "overrides": [
        {
            "files": "*.blade.php",
            "options": {
                "parser": "blade",
                "bladePhpFormatting": "safe"
            }
        }
    ],
    "singleAttributePerLine": true
}
