@scope (.main-default) {
    :scope {
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        flex: 1;
        position: relative;
        overflow-x: hidden;
    }
    .content {
        width: min(100vw, var(--max-width, 35em));
        border-radius: 0.75em;
        padding: 1.5rem;
        height: max-content;
    }
    .fieldset-tag {
        padding: 0.5em;
        position: relative;
    }
    .field-legend {
        margin: 0 0 0 0.25em;
        width: max-content;
        padding: 0 0.25em;
        float: none;
    }
    .fieldset-top-btn {
        display: flex;
        justify-content: flex-end;
        column-gap: 0.5em;
        margin-top: -2.65em;
    }
    .icon-s2::before {
        transform: scale(1.5);
    }
}
