@scope (.create-main) {
    :scope {
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        flex: 1;
    }
    .content {
        width: min(100vw, 35rem);
        border-radius: 0.75em;
        padding: 1.5rem;
        height: max-content;
    }
    .fieldset-tag {
        padding: 0.5em;
    }
    .field-legend {
        margin: 0 0 0 0.25em;
        width: max-content;
        padding: 0 0.25em;
        float: none;
    }
}
