@scope (.fieldset-top-btn) {
    .detachment:disabled {
        --bs-btn-disabled-bg: #9ca2a8;
        --bs-btn-disabled-border-color: #9ca2a8;
        opacity: 1;
    }
}
@scope (.tabular-data) {
    thead th.with-checker {
        width: 2em;
    }
}
@scope (.main-default) {
    .data-box {
        display: grid;
        justify-content: center;
        grid-template-columns: max-content var(--second-column-size, max-content);
        grid-template-rows: repeat(auto-fit, max-content);
        column-gap: 1rem;
        row-gap: 0.5rem;

        .label {
            text-align: right;
        }
    }
    .label {
        font-weight: 600;
    }
    .img-displayed {
        width: var(--img-displayed-size, 4em);
        height: var(--img-displayed-size, 4em);
    }
}
