@scope (.tabular-data) {
    :scope {
        margin-bottom: 0;
    }
    th {
        font-weight: 500;
        font-style: normal;

        &:nth-child(1) {
            width: 3.5em;
        }
        &.last-thdata {
            width: 3.25rem;
        }
    }
    td:has(.ellipsis) {
        max-width: 15rem;
    }
    td:not(.no-values):last-child {
        display: flex;
        justify-content: space-between;
    }
    tbody td {
        vertical-align: middle;
    }
    .no-values {
        text-align: center;
    }
}
