:root {
    --snow: #fffafa;
    --light-gray: #f1f1f1;

    --Background-Primary: var(--snow);
    --Background-Login-Primary: var(--light-gray);
}

body {
    height: 100dvh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    font-family: "Mitr", Arial, Helvetica, sans-serif;
}

.gate-main {
    background-color: var(--Background-Login-Primary);
}

.fs-085 {
    font-size: 0.85rem;
}
.fs-075 {
    font-size: 0.75rem;
}
.py-075 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

@view-transition {
    navigation: auto;
}