@scope(.signin-gate-main) {
    .generic-msg-box {
        position: relative;
        /* margin-bottom: -0.5rem; */
    }
    .logo {
        width: 7rem;
        height: 7rem;
    }
    .forgot-password {
        top: -0.75rem;
    }
}