@scope (.header-app) {
    :scope {
        display: grid;
        grid-template-columns: 1fr max-content;
        grid-template-rows: max-content;
        grid-template-areas: "logo nav exit" "bottom-row bottom-row bottom-row";
    }
    .navigation {
        display: flex;
        align-items: center;
    }
    .btns {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
    }
    .photo-user {
        --photo-user-size: 3rem;
        width: var(--photo-user-size);
        height: var(--photo-user-size);
    }
}
