@scope (.page-heading-row) {
    :scope {
        align-self: stretch;
        font-weight: 500;
        font-size: 1.125rem;
        grid-area: bottom-row;
        position: relative;
        margin-top: 0.5em 0;
        padding: 0.5em 0 0 0.5rem;
        display: flex;

        &::before {
            position: absolute;
            top: 0;
            left: -0.5em;
            width: calc(100% + 1em);
            content: "";

            border-top: 0.0625em solid;
            border-top-color: var(--bs-secondary-border-subtle);
        }
    }
    @media screen and (min-width: 768px) {
        :scope {
            font-size: 1.25rem;
        }
    }
    .heading {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        font-size: inherit;
        flex-flow: wrap;
    }
    @media screen and (min-width: 768px) {
        .heading {
            justify-content: flex-start;
        }
    }
    .top-right-item {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(calc(-50% + 0.25rem));
    }
}
